<!DOCTYPE html>
<html >
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href=" {{ url_for('static', filename='styles.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OCR</title>
</head>
<body>
    <header id="header">
        <img src="{{ url_for('static', filename='assets/images/Logo_trt8.png')}}" alt="Logo_trt8", width="244px">
        <h1>Sistema de OCR</h1>
    </header>
    <div class="conteudo">
        <p>Faça o upload do arquivo PDF com imagens para converter em PDF escrito</p>
    </div>
    <form method="POST" enctype="multipart/form-data">
        <div class="divBtn">
            <img src="{{ url_for('static', filename='assets/images/Upload.png') }}" alt="">
            <input type="file" name="arquivo" id="arquivo" required>
        </div>
        <br><br>
        <div class="divBtn">
            <button class="btn" type="submit">Converter </button>
        </div>
    </form>
</body>
</html>
